<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 이름은 인터페이스 이름과 통일 -->

<mapper namespace="com.mystory001.mapper.TimeMapper"> <!-- mapper에서 namespace를 반드시 지정해줘야함(인터페이스와 동일하게, 대소문자 구분해줘야함) -->
	<select id="getTime2" resultType="java.lang.String"> <!-- id는 메서드 이름 -->
		select sysdate from dual
	</select>
</mapper>	



